<div class="row justify-content-center pl-2 pb-1">
  <h1>All Events</h1>
</div>

<div class="pt-4" *ngFor="let eventsByDay of events">
  <div class="row pl-4">
    <h2>{{ eventsByDay.day | date:'EEEE' }}</h2>
  </div>

  <div class="row p-1">
    <div *ngFor="let event of eventsByDay.events; let i = index" class="col-sm-4 mt-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ event.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            {{ event.startTime | date: 'hh:mm a' }} - {{ event.endTime | date: 'hh:mm a' }}
          </h6>
          <p class="card-text text-justify">{{ event.description | limitTo : 200 }}</p>
          <div class="row">
            <div class="col-sm">
              <span class="float-left">
                <a href="#" class="btn btn-link btn-sm p-0">Read more</a>
              </span>
            </div>
            <div class="col-sm">
              <span class="float-right">
                <a href="#" *ngIf="!event.inCalendar" class="btn btn-primary btn-sm">Add to Calendar</a>
                <a href="#" *ngIf="event.inCalendar" class="btn btn-danger btn-sm">Remove from Calendar</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
