<div class="modal-header">
  <h5 class="modal-title">{{ session.name }}</h5>
  <button type="button" class="close" aria-label="Close"
    (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <span class="oi oi-clock" title="Time" aria-hidden="true"></span>
    {{ session.startTime | date: 'hh:mm a' }} - {{ session.endTime | date: 'hh:mm a' }}
  <span
    class="oi oi-map-marker pl-2"
    *ngIf="session.location"
    title="Location"
    aria-hidden="true"></span>
    {{ session.location ? session.location : ''}}
  <span
    class="oi oi-people pl-2"
    *ngIf="session.speakers"
    title="Speakers"
    aria-hidden="true"></span>
    {{ session.speakers ? 'Speakers: ' + session.speakers : '' }}
  <span class="oi oi-eye pl-2"
    *ngIf="session.focusArea"
    title="Focus Area"
    aria-hidden="true"
  ></span>
    {{ session.focusArea ? 'Focus Area: ' + session.focusArea : ''}}
    <span
      class="oi oi-bolt pl-2"
      *ngIf="session.track"
      title="Track"
      aria-hidden="true"
    ></span>
      {{ session.track ? 'Track: ' + session.track : ''}}

  <p></p>
  <p>{{ session.description }}</p>
</div>

<div class="modal-footer">
  <button *ngIf="!session.isSelected" class="btn btn-primary btn-sm">
    Add to Calendar
  </button>
  <button *ngIf="session.isSelected" class="btn btn-danger btn-sm">
    Remove from Calendar
  </button>

  <button
    type="button"
    class="btn btn-secondary"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
