<div class="row">

  <table class="table table-sm table-borderless table-col text-center">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">
        <h5>Wednesday</h5>
        <span class="date">Sep X</span>
      </th>
      <th scope="col">
        <h5>Thursday</h5>
        <span class="date">Sep X</span>
      </th>
      <th scope="col">
        <h5>Friday</h5>
        <span class="date">Sep X</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>
        <button type="button" class="btn btn-sm btn-outline-info">Event 1</button></td>
      <td></td>
      <td><button type="button" class="btn btn-sm btn-outline-info">Event2</button></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><button type="button" class="btn btn-sm btn-outline-info">Event 5</button></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>


  <!-- <div class="col">
    <h1>Wednesday</h1>
    <ul>
      <li>Event 1</li>
      <li>Event 2</li>
      <li>Event 3</li>
    </ul>
  </div>
  <div class="col">
    <h1>Thursday</h1>
    <ul>
      <li>Event 1</li>
      <li>Event 2</li>
      <li>Event 3</li>
    </ul>
  </div>
  <div class="col">
    <h1>Friday</h1>
    <ul>
      <li>Event 1</li>
      <li>Event 2</li>
      <li>Event 3</li>
    </ul>
  </div> -->
</div>
