<div class="row justify-content-center" style="padding-bottom:10px">
  <h1>My Calendar</h1>
</div>

<div class="row pb-4 pr-2">
  <div
    [ngClass]="{'col-sm-4': true, 'text-center': true, 'border-right': !isLast}"
    *ngFor="let calendarDay of calendarEvents; last as isLast"
  >
    <div id="calendarDateHeader" class="row">
      <h5 class="col-12">{{ calendarDay.day | date:'EEEE' }}</h5>
      <span class="col-12 date">{{ calendarDay.day | date:'MMM d' }}</span>
    </div>

    <button
      type="button"
      class="btn btn-sm btn-outline-info col-sm-12 mt-2 mb-2"
      *ngFor="let event of calendarDay.events"
    >
      {{ event.startTime | date: 'hh:mm a' }} - {{ event.endTime | date: 'hh:mm a' }}: {{ event.name }}
    </button>
  </div>
</div>
